@keyframes floatUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('download.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    color:white;
    margin-top:200px;
    max-width: 800px;
    padding: 30px;
    background: rgba(11, 0, 70, 0.9); /* Slightly transparent white background */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    opacity: 0;
    animation: floatUp 1s forwards;
}

h1 {
    text-align: center;
    margin-top: 0;
}

button {
    display: block;
    width: 100%;
    padding: 11px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: rgb(87, 172, 188);
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #00008B; /* Dark blue */
}

#posts-container {
    margin-top: 30px;
}

.post {
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 20px 0; /* Increase padding for better spacing */
    opacity: 0;
    animation: floatUp 1s forwards;
    animation-delay: 0.5s;
}

.user-info {
    font-size: 0.9em;
    color: gray;
    margin-bottom: 10px;
}

.comment {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
}

.comment p {
    margin: 5px 0;
}
